@page "/"

@inject IBookRepository Repository



<PageTitle>
    Book List
</PageTitle>

<div class="row justify-content-center">
    <div class="col-6">
        <a href="add-new" class="btn btn-outline-dark">
        Add New Book    
        </a>
        @if(books is null)
        {
            <div class="book-item">
                <div class="card my-3 shadow-lg">
                    <p class="text-center my-3">
                        Loading Books. Please Wait....
                    </p>
                   
                </div>
               
            </div>
        }
        else if (books.Any())
        {
            @foreach(var book in books)
            {
               
                    <BookCard @rendermode="InteractiveServer"  Book="book"/>
               
                
            }
        }
        else
        {
            <div class="book-item">
                Sorry No Books Found.
            </div>
        }
    </div>
</div>

@code {
    private List<Book>? books;

    protected override async Task OnParametersSetAsync()
    {
        await Task.Delay(3000);
        books = await Repository.GetAllAsync();
    }
}
