@inject IBookRepository Repository
@inject NavigationManager Navigation


<div class="card my-3 shadow-lg">
    <div class="book-item my-2 mx-2">
        <div class="book-card">
            <div class="book-card-body">
                <h5 style="color:#111926">@Book.Title</h5>
                By @Book.Author | @Book.PublicationDate?.ToString("MMMM dd,yyyy") |
                Category:@Book.Category
               
                <div class="  actions d-flex justify-content-end ">
                    <a href="@($"/edit/{Book.Id}")" class="btn btn-outline-dark shadow-lg">Edit</a>
                        <button @onclick="OpenConfirmDialog" class=" btn btn-outline-danger mx-2"> Delete </button>
                </div>
                
                   
                
            
            </div>
        </div>
    </div>
</div>
<DeleteConfirmDialog Show="showConfirmDialog" OnCancel="CancelDelete" OnOk="DeleteBook"/>

@code {
    private bool showConfirmDialog;

    [Parameter]
    public required Book Book { get; set; }

    private void OpenConfirmDialog()
    {
        showConfirmDialog = true;
    }

    private void CancelDelete()
    {
        showConfirmDialog = false; 
    }

    private async Task DeleteBook()
    {
        await Repository.DeleteByIdAsync(Book.Id);
        
        showConfirmDialog = false;
        Navigation.NavigateTo("/");
    }
    
}
